# Reset any ignores from parent gitignore files
!*

# jest-html-reporter
test-report.html

# Mac Finder file
.DS_Store

# Docker
docker-compose.override.yml
docker-compose.override.yaml

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Built code
lib
tsconfig.tsbuildinfo
dist

# Dependency directories
node_modules/

# Output of 'npm pack'
*.tgz
*.tar.gz

# Yarn Integrity file
.yarn-integrity

# local dev environment files
.env
.env-*
.code-workspace

# private keys
*.pem

# persisted docker volumes
.data

# locally captured github webhooks
packages/github/test/fixtures/new

# typeorm config
*ormconfig.json
!dev.ormconfig.json

# Jest Code Coverage
coverage/

.yarn